.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 132px;
  height: 30px;
  left: 574px;
  top: 1465px;
  align-items: center;
  padding: 5px 24px;
  gap: 10px;
  border: none;
}

.disabled {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #002e5c;
  background: #004d99;
  opacity: 0.5;
  border-radius: 3px;
  border-color: #004d99;
}

.secondary {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #0066cc;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #0066cc;
}

.default {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background: #0066cc;
  color: #ffffff;
  border-radius: 3px;
  border-color: #0066cc;
}

.red {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background: #cc1439;
  border-radius: 3px;
  border-color: #cc1439;
}

.default:hover {
  background: #0080ff;
}

.red:hover {
  background: #ff1a47;
}

.secondary:hover {
  background: #e5f0fa;
  border: 1px solid #0066cc;
}

.default:active {
  background: #0059b3;
}

.secondary:active {
  background: #c9e5ff;
  border: 1px solid #0066cc;
  border-radius: 3px;
}

.red:active {
  background: #b31232;
}

.button:disabled {
  background: #004d99;
  opacity: 0.5;
}
